/sm.JJRH.Biblioteca/nbproject/private/
/sm.JJRH.Biblioteca/build/
/Con_librerias_prepruebas/build/
/Con_librerias_prepruebas/dist/
/Con_librerias_prepruebas/nbproject/private/
/sm.JJRH.Biblioteca/dist/
/paint/dist/
*.jar

